<footer class="footer">
    <div class="footer-logo">
        <img src="/images/logo/rb_121824.png" alt="logo image" height="auto" width="150px">
        <h2>Australian Zoo</h2>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2024 SafariPark. All rights reserved.</p>
    </div>
    <div class="footer_social-media">
        <h4>Follow Us</h4>
        <a href="#" id="facebook">
            <img src="/images/logo/facebook-svgrepo2-com.svg" alt="Facebook logo-link">
        </a>
        <a href="#" id="instagram">
            <img src="/images/logo/instagram-svgrepo-com.svg" alt="Instagram logo-link">
        </a>
        <a href="#" id="twitter">
            <img src="/images/logo/internet-media-network-15-svgrepo-com (1).svg" alt="Twitter logo-link">
        </a>
    </div>
  
</footer>
