<header class="header_title">
    <div class="logo">
        <img src="/images/logo/bg_image.png">
        <h1 class="header_title_text">
            <%= welcome_text %> 
        </h1>
    </div>   
</header>        
