    <header class="header_title">
        <div class="logo">
            <img src="/images/logo/rb_121824.png">
            <h1 class="header_title_text">
                <%= welcome_text %> 
            </h1>
        </div>   
    </header>        