        <div class="animal_names">
            <% animal_names.forEach(animal => { %>
                <a href="./<%= animal.groupName %>/<%= animal.name %>"><%= animal.name %></a><br>
            <% }) %>
        </div>
   