        <div class="sidebar_animal_names">
            <% animal_names.forEach(animal => { %>
                <a href="/<%=animal.groupName%>/<%=animal.name.replace(" ","-")%>" class="page_link"><%= animal.name.replace(" ","-")%></a><br>
            <% }) %>
        </div>
   